fastapi==0.65.2
uvicorn==0.13.4
python-multipart==0.0.5 
vosk==0.3.21
stt==0.10.0a13
ffmpeg-python==0.2.0
requests==2.27.1
azure-cognitiveservices-speech==1.20.0
aiofiles==0.8.0
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==4.4.2
httptools==0.4.0
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
moviepy==1.0.3
multidict==5.2.0
numpy
requests==2.27.1

